In [1]:
import math
import timeit

import numpy as np
import pandas as pd

from itertools import combinations
from multiprocessing import Pool
from random import randint
from scipy.spatial.distance import pdist, squareform
from sklearn.metrics.pairwise import pairwise_distances

In [2]:
n_entries = 10

df = pd.DataFrame.from_dict(
    {
        "col1": [randint(0, 2) for _ in range(n_entries)],
        "col2": [randint(0, 2) for _ in range(n_entries)],
        "col3": [randint(0, 2) for _ in range(n_entries)],
        "col4": [randint(0, 2) for _ in range(n_entries)],
    }
)
df.index = [f"row{i}" for i in range(n_entries)]

In [3]:
cluster_sizes = [df.iloc[:, i].value_counts() for i in range(len(df.columns))]
number_entries = len(df.index)
number_features = len(df.columns)

In [ ]:
# def initial_worker(cluster_sizes, number_entries, number_features):
#     global _cluster_sizes, _number_entries, _number_features
#     _cluster_sizes = cluster_sizes
#     _number_entries = number_entries
#     _number_features = number_features
    
# def task_similarity_func(args):
#     global _cluster_sizes, _number_entries, _number_features
#     a, b = args
#     return np.sum([math.e ** -(5 * _cluster_sizes[i][a[i]] / _number_entries) for i in np.where(a == b)[0]], dtype=np.float16) / _number_features

# with Pool(processes=1, initializer=initial_worker, initargs=(cluster_sizes, number_entries, number_features)) as pool:
#         similarity_matrix = pool.map(task_similarity_func, combinations(df.values, 2))

In [7]:
def similarity_func(a, b):
    return np.sum([math.e ** -(5 * cluster_sizes[i][a[i]] / number_entries) for i in np.where(a == b)[0]], dtype=np.float16) / number_features

In [ ]:
# import itertools
# from multiprocessing import pool


# def grouper_nofill(n, iterable):
#     '''list(grouper_nofill(3, 'ABCDEFG')) --> [['A', 'B', 'C'], ['D', 'E', 'F'], ['G']]
#     '''
#     it=iter(iterable)
#     def take():
#         while 1: yield list(itertools.islice(it,n))
#     return iter(take().next,[])

# def myfunc(finput):
#     a, b = finput
#     return np.sum([cluster_sizes[i][a[i]] for i in np.where(a == b)[0]], dtype=np.float16)

# chunksize=3
# async_results=[]
# for finput in grouper_nofill(chunksize, combinations(df.values, 2)):
#     async_results.extend(pool.map_async(myfunc, finput).get())
# async_results=np.array(async_results)

In [22]:
pd.DataFrame(squareform(np.array([similarity_func(*t) for t in combinations(df.values, 2)])), index=df.index, columns=df.index)

,row0,row1,row2,row3,row4,row5,row6,row7,row8,row9
row0,0.000000,0.020523,0.000000,0.020523,0.041046,0.032959,0.032959,0.053497,0.012444,0.012444
row1,0.020523,0.000000,0.089600,0.110168,0.020523,0.055786,0.000000,0.020523,0.033844,0.055786
row2,0.000000,0.089600,0.000000,0.102051,0.012444,0.000000,0.046295,0.012444,0.080139,0.033844
row3,0.020523,0.110168,0.102051,0.000000,0.032959,0.000000,0.012444,0.032959,0.046295,0.000000
row4,0.041046,0.020523,0.012444,0.032959,0.000000,0.020523,0.032959,0.053497,0.012444,0.000000
row5,0.032959,0.055786,0.000000,0.000000,0.020523,0.000000,0.032959,0.032959,0.012444,0.068237
row6,0.032959,0.000000,0.046295,0.012444,0.032959,0.032959,0.000000,0.045410,0.058716,0.046295
row7,0.053497,0.020523,0.012444,0.032959,0.053497,0.032959,0.045410,0.000000,0.024887,0.012444
row8,0.012444,0.033844,0.080139,0.046295,0.012444,0.012444,0.058716,0.024887,0.000000,0.046295
row9,0.012444,0.055786,0.033844,0.000000,0.000000,0.068237,0.046295,0.012444,0.046295,0.000000

In [23]:
pd.DataFrame(squareform(pdist(df, similarity_func)), index=df.index, columns=df.index)

,row0,row1,row2,row3,row4,row5,row6,row7,row8,row9
row0,0.000000,0.020523,0.000000,0.020523,0.041046,0.032959,0.032959,0.053497,0.012444,0.012444
row1,0.020523,0.000000,0.089600,0.110168,0.020523,0.055786,0.000000,0.020523,0.033844,0.055786
row2,0.000000,0.089600,0.000000,0.102051,0.012444,0.000000,0.046295,0.012444,0.080139,0.033844
row3,0.020523,0.110168,0.102051,0.000000,0.032959,0.000000,0.012444,0.032959,0.046295,0.000000
row4,0.041046,0.020523,0.012444,0.032959,0.000000,0.020523,0.032959,0.053497,0.012444,0.000000
row5,0.032959,0.055786,0.000000,0.000000,0.020523,0.000000,0.032959,0.032959,0.012444,0.068237
row6,0.032959,0.000000,0.046295,0.012444,0.032959,0.032959,0.000000,0.045410,0.058716,0.046295
row7,0.053497,0.020523,0.012444,0.032959,0.053497,0.032959,0.045410,0.000000,0.024887,0.012444
row8,0.012444,0.033844,0.080139,0.046295,0.012444,0.012444,0.058716,0.024887,0.000000,0.046295
row9,0.012444,0.055786,0.033844,0.000000,0.000000,0.068237,0.046295,0.012444,0.046295,0.000000

In [5]:
# timeit.timeit('df.T.corr(similarity_func)', number=1, globals=globals())

11.784710100007942

In [6]:
# timeit.timeit('pd.DataFrame(squareform(pdist(df, similarity_func)), index=df.index, columns=df.index)', number=1, globals=globals())

9.406761999998707

In [7]:
# timeit.timeit('pd.DataFrame(pairwise_distances(df, metric=similarity_func, n_jobs=1), index=df.index, columns=df.index)', number=1, globals=globals())

22.294282500020927

In [8]:
# timeit.timeit('pd.DataFrame(pairwise_distances(df, metric=similarity_func, n_jobs=4), index=df.index, columns=df.index)', number=1, globals=globals())

21.065413900010753